@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    padding: 0;
    margin: 0;
}
.main {
    background: linear-gradient(45deg, #002147, #004225, #4b0082);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contentMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}
header {
    display: grid;
    height: 7vh;
    grid-template-areas:
    "titleLogo inputField bucket profile";
    grid-template-rows: 1fr;
    grid-template-columns: 5% 1fr 15% 15%;
    align-items: center;
}

.titleLogo {
    margin-left: 5px;
    grid-area: titleLogo;
}
.inputField {
    grid-area: inputField;
    padding-left: 30%;
}

.inputField input {
    padding: 10px;
    position: relative;
    border-radius: 6px;
    background-color: #F4F5F6;
    height: 30%;
    width: 70%;
}
.bucket {
    width: 100%;
    height: 100%;
    grid-area: bucket;
}
.bucket div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.bucket img {
    margin-right: 5px;
}
.profile {
    width: 100%;
    height: 100%;
    grid-area: profile;
}
.profile div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile img {
    margin-right: 5px;
}
.breakLine {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #E3E3E8;
}
.categories {
    gap: 10px;
    margin-top: 5vh;
    align-self: center;
    width: 90%;
    display: grid;
    grid-template-areas:
    "originalAutopart notOriginalAutoparts forVAZ"
    "forBody forTO autoGlasses"
    "carOil autoChemical wheels"
    "batteryGenerator autoLights forSuppliers";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
}

.categoryContent {
    position: relative;
    gap: 5%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 2%;
}
.categoryContent div {
    display: flex;
    flex-direction: column;
}

.originalAutoparts {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: originalAutopart;
}
.notOriginalAutoparts {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: notOriginalAutoparts;
}
.forVAZ {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: forVAZ;
}
.forBody {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: forBody;
}
.forTO {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: forTO;
}
.autoGlasses {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: autoGlasses;
}
.carOil {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: carOil;
}
.autoChemical {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: autoChemical;
}
.wheels {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: wheels;
}
.batteryGenerator {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: batteryGenerator;
}
.autoLights {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: autoLights;
}
.forSuppliers {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    grid-area: forSuppliers;
}
.forSuppliersBackground {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3); /* Более темный фон с прозрачностью */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 18px ); /* Размытие фона */
}
.textForSuppliersCard {
    font-size: 24px;
}
.arrow {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.cards {
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card {
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    justify-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img {
    width: 75%;
}
.card .cardImg1 {
    width: 50%;
}
.priceAndBasket {
    display: flex;
    justify-content: space-between;
}
.card .addInBasket {
    height: 40px;
    width: 40px;
}
.footer{
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
}


.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 7px;
}

.footer-col .social-links a {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #FFF;
}

@media (max-width: 1200px) {

    header {
        display: grid;
        height: 7vh;
        grid-template-areas:
        "titleLogo inputField bucket profile";
        grid-template-rows: 1fr;
        grid-template-columns: 5% 1fr 20% 20%;
        align-items: center;
    }

}
@media (max-width: 768px) {
    .help {
        display: none;
    }
    .card {
        width: 100vw;
    }
    .bucket span {
        display: none;
    }
    .profile span {
        display: none;
    }
    header {
        display: grid;
        height: 14vh;
        grid-template-areas:
        "titleLogo bucket profile"
        "inputField inputField inputField";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 20% 20%;
        align-items: center;
    }
    .inputField {
        grid-area: inputField;
        padding: 0;
    }
    .inputField div {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .inputField input {
        border-radius: 6px;
        background-color: #F4F5F6;
        border: 1px solid;
        height: 30%;
        width: 100%;
    }
    .categories {
        width: 80%;
        display: grid;
        grid-template-areas:
        "originalAutopart"
        "notOriginalAutoparts"
        "forVAZ"
        "forBody"
        "forTO"
        "autoGlasses"
        "carOil"
        "autoChemical"
        "wheels"
        "batteryGenerator"
        "autoLights"
        "forSuppliers";
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .categoryContent {
        gap: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-left: 2%;
    }
    .categoryContent div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrow {
        display: none;
    }
}
@media (max-width: 320px) {
    .container {
        justify-content: start;
    }
    .textCategoryContent {
        text-align: center;
    }
}