body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: auto;
}
header {
    display: grid;
    height: 7vh;
    grid-template-areas:
    "titleLogo inputField location phone profile";
    grid-template-rows: 1fr;
    grid-template-columns: 5% 1fr 15% 15% 15%;
    align-items: center;
}

.titleLogo {
    margin-left: 5px;
    grid-area: titleLogo;
}
.inputField {
    grid-area: inputField;
    padding-left: 30%;
}

.inputField input {
    padding: 10px;
    position: relative;
    border-radius: 6px;
    background-color: #F4F5F6;
    border: 1px solid #DEDEE2;
    height: 30%;
    width: 70%;
}
.phone {
    height: 100%;
    width: 100%;
    grid-area: phone;
}
.phone div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.phone span {
    color: #1B1D1F;
    font-family: TT Commons, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.location {
    width: 100%;
    height: 100%;
    grid-area: location;
}
.location span {
    color: #1B1D1F;
    font-family: TT Commons, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.location div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile {
    width: 100%;
    height: 100%;
    grid-area: profile;
}
.profile div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile span {
    color: #1B1D1F;
    font-family: TT Commons, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.profile img {
    margin-right: 5px;
}
.breakLine {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #E3E3E8;
}
.categories {
    position: absolute;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-areas:
    "originalAutopart notOriginalAutoparts forVAZ"
    "forBody forTO autoGlasses"
    "carOil autoChemical wheels"
    "batteryGenerator autoLights forSuppliers";
    grid-template-rows: repeat(4, 40%);
    grid-template-columns: 1fr 1fr 1fr;
}
.categoryContent {
    position: relative;
    gap: 5%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 2%;
}
.categoryContent div {
    display: flex;
    flex-direction: column;
}
.textCategoryContent {
    color: #1B1D1F;
    font-family: TT Commons, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.countProduct {
    color: #505255;
    font-family: TT Commons, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.originalAutoparts {
    grid-area: originalAutopart;
    border: 1px solid #E8E3E3;
}
.notOriginalAutoparts {
    grid-area: notOriginalAutoparts;
    border: 1px solid #E8E3E3;
}
.forVAZ {
    grid-area: forVAZ;
    border: 1px solid #E8E3E3;
}
.forBody {
    grid-area: forBody;
    border: 1px solid #E8E3E3;
}
.forTO {
    grid-area: forTO;
    border: 1px solid #E8E3E3;
}
.autoGlasses {
    grid-area: autoGlasses;
    border: 1px solid #E8E3E3;
}
.carOil {
    grid-area: carOil;
    border: 1px solid #E8E3E3;
}
.autoChemical {
    grid-area: autoChemical;
    border: 1px solid #E8E3E3;
}
.wheels {
    grid-area: wheels;
    border: 1px solid #E8E3E3;
}
.batteryGenerator {
    grid-area: batteryGenerator;
    border: 1px solid #E8E3E3;
}
.autoLights {
    grid-area: autoLights;
    border: 1px solid #E8E3E3;
}
.forSuppliers {
    grid-area: forSuppliers;
    border: 1px solid #E8E3E3;
}
.forSuppliersBackground {
    background: rgba(0, 0, 0, 0.5); /* Более темный фон с прозрачностью */
    backdrop-filter: blur(30px); /* Размытие фона */
}
.textForSuppliersCard {
    color: #FFF;
    font-family: TT Commons, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.arrow {
    position: absolute;
    bottom: 4px;
    right: 4px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #2F2B4A 0%, #2F2B4A 100%), #2F323D;
    height: 20%;
    display: grid;
    grid-template-areas:
    "menuCompany catalogs help productsAndBrands";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footerLi {
    color: #F4F5F6;
    font-family: TT Commons, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}
.footerBlock {
    margin-top: 1%;
    height: 100%;
    gap: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuCompany {
    height: 100%;
    width: 100%;
    grid-area: menuCompany;
}
.catalogs {
    height: 100%;
    width: 100%;
    grid-area: catalogs;
}
.help {
    height: 100%;
    width: 100%;
    grid-area: help;
}
.productsAndBrands {
    height: 100%;
    width: 100%;
    grid-area: productsAndBrands;
}
.footerHeader {
    color: #FFF;
    font-family: TT Commons, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
@media (max-width: 1200px) {
    .location span {
        display: none;
    }
    .phone span {
        display: none;
    }
    .profile span {
        display: none;
    }
    header {
        display: grid;
        height: 7vh;
        grid-template-areas:
        "titleLogo inputField location phone profile";
        grid-template-rows: 1fr;
        grid-template-columns: 5% 1fr 10% 10% 10%;
        align-items: center;
    }
}
@media (max-width: 768px) {
    header {
        display: grid;
        height: 14vh;
        grid-template-areas:
        "titleLogo location phone profile"
        "inputField inputField inputField inputField";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 20% 20% 20%;
        align-items: center;
    }
    .inputField {
        grid-area: inputField;
        padding: 0;
    }
    .inputField div {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .inputField input {
        border-radius: 6px;
        background-color: #F4F5F6;
        border: 1px solid #DEDEE2;
        height: 30%;
        width: 100%;
    }
    .categories {
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-areas:
        "originalAutopart notOriginalAutoparts"
        "forVAZ forBody"
        "forTO autoGlasses"
        "carOil autoChemical"
        "wheels batteryGenerator"
        "autoLights forSuppliers";
        grid-template-rows: repeat(6, 20%);
        grid-template-columns: 1fr 1fr;
    }
    .categoryContent {
        position: relative;
        gap: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-left: 2%;
    }
    .categoryContent div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}