@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
header {
    display: grid;
    height: 7vh;
    grid-template-areas:
    "titleLogo inputField bucket profile";
    grid-template-rows: 1fr;
    grid-template-columns: 5% 1fr 15% 15%;
    align-items: center;
}
.titleLogo {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 5px;
    grid-area: titleLogo;
}
.inputField {
    grid-area: inputField;
    padding-left: 30%;
}

.inputField input {
    padding: 10px;
    position: relative;
    border-radius: 6px;
    background-color: #F4F5F6;
    height: 30%;
    width: 70%;
}
.bucket {
    cursor: pointer;
    width: 100%;
    height: 100%;
    grid-area: bucket;
    transition: all 0.5s;
}
.bucket:hover {
    background: rgba(255, 255, 255, 0.2);
}
.bucket div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.bucket span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.bucket img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.profile {
    cursor: pointer;
    width: 100%;
    height: 100%;
    grid-area: profile;
    transition: all 0.5s;
}
.profile:hover {
    background: rgba(255, 255, 255, 0.2);
}
.profile div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.profile img {
    margin-right: 5px;
}
.breakLine {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #E3E3E8;
}
.cards {
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    justify-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img {
    width: 75%;
}
.card .cardImg1 {
    width: 50%;
}
.priceAndBasket {
    display: flex;
    justify-content: space-between;
}
.card .addInBasket {
    height: 40px;
    width: 40px;
}
div.amount {
    width: 25%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 1px solid #C5C3C8;
    align-items: center;
}
body {
    padding: 0;
    margin: 0;
}
.main {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: linear-gradient(45deg, #002147, #004225, #4b0082);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.footer{
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;

}
.myName {
    margin-top: 1vh;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
}


.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 7px;
}


.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
    background-size: cover;
}
.youtube {
    background-image: url("Youtube.svg");
}
.telegram {
    background-image: url("Telegram.svg");
}
.mail {
    background-image: url("Mail_ru.svg");
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #FFF;
}
@media (max-width: 768px){
    .card {
        width: 100vw;
    }
    .bucket span {
        display: none;
    }
    .profile span {
        display: none;
    }
    header {
        display: grid;
        height: 14vh;
        grid-template-areas:
        "titleLogo bucket profile"
        "inputField inputField inputField";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 20% 20%;
        align-items: center;
    }
    .inputField {
        grid-area: inputField;
        padding: 0;
    }
    .inputField div {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .inputField input {
        border-radius: 6px;
        background-color: #F4F5F6;
        border: 1px solid;
        height: 30%;
        width: 100%;
    }
}
@media (max-width: 320px) {
    .container {
        justify-content: start;
    }
}
@media (max-width: 768px){
    .help {
        display: none;
    }
}