@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* , :before , :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #002147, #004225, #4b0082);
}

.main{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #002147, #004225, #4b0082);
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.login {
    align-self: center;
    width: 50vw;
    position: relative;
    background: #686d6f7a;
    padding: 35px 40px;
    border-radius: 4px;
    z-index: 1;
    overflow: hidden;
}
.login:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    opacity: 0.8;
}
.heading {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    color: white;
}
.input {
    display: block;
    margin-bottom: 13px;
    margin-top: 11px;
}
.input label {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.input input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    background: #0000002b;
    color: white;
    transition: all 0.2s ease;
}
.input input:hover {
    background: #3d434c;
}
.input input:focus {
    box-shadow: 0px 2px 2px #0000002b , 0px 5px 10px #00000036;
    background: #434343;
}
.login-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px 15px;
    font-size: 14px;
    background: #00000038;
    border: 2px solid #38363654;
    color: #e1e1e1;
    border-radius: 4px;
    width: 100%;
    transition: all 0.2s cubic-bezier(.79,.14,.15,.86);
    cursor: pointer;
}
.login-btn:hover {
    background: #0663b4;
    transition: all 0.1s ease;
}
.login-btn:focus {
    box-shadow: 0px 0px 0px 2px #a7a7a7b5;
    background: #00000061;
}
.meta-text {
    font-size: 13px;
    margin-bottom: 15px;
    color: white;
}
.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    min-height: 40px;
    background: var(--c);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 28px;
    box-shadow: 0px 4px 8px #0c0b0b00;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}
.social-icon:hover {
    box-shadow: 0px 4px 14px #0000007a;
}
.social-icon:focus {
    box-shadow: 0px 0px 0px 2px currentColor;
    transform: scale(.9);
}
.social-icon * {
    pointer-events: none;
    fill: #fff;
}
.social-icon.fb {
    --c: #4267B2;
}
.social-icon.pr {
    --c: #E60023;
}
.social-icon.in {
    --c: #5B51D8;
}
.box1 {
    animation: moveBox1 2s infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    top: 20vh;
    left: 20vw  ;
    height: 15vh;
    width: 10vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    opacity: 1;
    color: whitesmoke;
}
.box2 {
    animation: moveBox2 2s infinite;
    animation-direction: alternate;
    bottom: 20vh;
    left: 20vw;
    height: 15vh;
    width: 10vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
}
.box3 {
    animation: moveBox3 2s infinite;
    animation-direction: alternate;
    bottom: 20vh;
    right: 20vw;
    height: 15vh;
    width: 10vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
}
.box4 {
    animation: moveBox4 2s infinite;
    animation-direction: alternate;
    top: 20vh;
    right: 20vw;
    height: 15vh;
    width: 10vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
}
header {
    display: grid;
    height: 7vh;
    grid-template-areas:
    "titleLogo inputField bucket profile";
    grid-template-rows: 1fr;
    grid-template-columns: 5% 1fr 15% 15%;
    align-items: center;
}
.titleLogo {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 5px;
    grid-area: titleLogo;
}
.inputField {
    grid-area: inputField;
    padding-left: 30%;
}

.inputField input {
    padding: 10px;
    position: relative;
    border-radius: 6px;
    background-color: #F4F5F6;
    height: 30%;
    width: 70%;
}
.bucket {
    cursor: pointer;
    width: 100%;
    height: 100%;
    grid-area: bucket;
    transition: all 0.5s;
}
.bucket:hover {
    background: rgba(255, 255, 255, 0.2);
}
.bucket div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.bucket span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.bucket img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.profile {
    width: 100%;
    height: 100%;
    grid-area: profile;
}
.profile:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}
.profile div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.profile img {
    margin-right: 5px;
}
.breakLine {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #E3E3E8;
}
.footer{
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
}
.myName {
    color: #FFFFFF;
    margin-top: 1vh;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
}


.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    width: 50px;
    height: 2px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 7px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
    background-size: cover;
}
.youtube {
    background-image: url("../resources/Youtube.svg");
}
.telegram {
    background-image: url("../resources/Telegram.svg");
}
.mail {
    background-image: url("../resources/Mail_ru.svg");
}
.footer-col .social-links a:hover {

}


@keyframes moveBox1 {
   from {
       transform: translate(0, 0);
   }
   to {
       transform: translate(80%, 80%);
   }
}
@keyframes moveBox2 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(35%, 70%);
    }
}
@keyframes moveBox3 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(70%, 20%);
    }
}
@keyframes moveBox4 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-10%, -30%);
    }
}
@media (max-width: 1200px) {

    header {
        display: grid;
        height: 7vh;
        grid-template-areas:
        "titleLogo inputField bucket profile";
        grid-template-rows: 1fr;
        grid-template-columns: 5% 1fr 20% 20%;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .login {
        width: 95vw;
    }
    .bucket span {
        display: none;
    }

    .profile span {
        display: none;
    }

    header {
        display: grid;
        height: 14vh;
        grid-template-areas:
        "titleLogo bucket profile"
        "inputField inputField inputField";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 20% 20%;
        align-items: center;
    }

    .inputField {
        grid-area: inputField;
        padding: 0;
    }

    .inputField div {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .inputField input {
        border-radius: 6px;
        background-color: #F4F5F6;
        border: 1px solid;
        height: 30%;
        width: 100%;
    }

    .help {
        display: none;
    }

    .box1 {
        display: none;
    }

    .box2 {
        display: none;
    }

    .box3 {
        display: none;
    }

    .box4 {
        display: none;
    }
}
@media (max-width: 320px) {
    .container {
        justify-content: start;
    }
}


